<h1>Final Whistle</h1>

<h5>Nama Aplikasi: </h5>
<p>{{ nama_aplikasi }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<hr>

<a href="?filter=all">
  <button type="button">All Products</button>
</a>
<a href="?filter=my">
  <button type="button">My Products</button>
</a> 

{% if not product_list %}
<p>Belum ada data product pada Toko Final Whistle.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.title }}</a></h2>

 
  <p><strong>{{product.name}}</strong></p>
  <p>{{product.description}}</p>
  <p><b>{{ product.get_category_display }}</b> 
    {% if product.is_featured %} | <b>Featured</b>{% endif %}
    | Price: {{ product.price }}
    | Rating: {{ product.rating_product }}
 </p>

 {% if product.thumbnail %}
 <img src="{{ product.thumbnail }}" alt="thumbnail" width="170" height="170">
 <br />
 {% endif %}


  <p><a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a></p>
</div>
<p>

  <form action="{% url 'main:delete_product' product.id %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Yakin mau hapus produk ini?')">Delete</button>
  </form>
</p>


<hr>
{% endfor %}

{% endif %}